
body{
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}
a{
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    background-attachment: fixed;
}

a:hover{
    background-color:rgb(0, 120, 255);
    padding: 1px;
    border-radius: 10px;
    transition-duration: 0.4s;
    padding: 5px;
}

nav a:hover {
    background-color: rgb(0, 120, 255);
    padding: 50px;
}

nav a {
    font-weight: 600;
    padding-right: 100px;
    text-align: right;
}

.nav-link{
    background-color: #5f9ce7;
    border-radius: 10px;
    padding: 20px;
}

header {
    display: flex;
    min-height: 75px;
    justify-content: space-between;
    background-color: #3e7dc4;
    align-items: center;
    padding: 10px;

}

.logo {
    display: flex;
}

.logo img {
    height: 85px;
    width: 170px;
    margin-right: 10px;
    padding: 20px;
}

.NombreEmpresa{
    padding: 22px;     
    font-size: 30px;
    border-radius: 15px;
}


@media (max-width: 700px){
    header{
        flex-direction: column;
        text-align: center;
    }

    nav {
        padding: 10px 0px;
    }
}

/*Body*/

section{
    width: 80%;
    float: left;
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 15px;
}

.Titulo-sec-1{
    text-decoration:underline;
    background-color: #ffe100;
    color: #ffffff;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 40px;
}

.Titulo-art-1{
    background-color: #a62520;
    color: #fff;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 20px;
}

.article1{
    color: #fff;
    background-color: #840007;
    padding: 5px 0px 0px 10px;
    border: 10px solid #ed5c53;
    border-radius: 5px;
}

.pisa-img {
    display: flex;
    float: right;
    width: 250px;
    height: 250px;
    margin-right: 5px;
    padding: 5px;
    background-color: #a62520;  
    border-radius: 10px;
}

.pisa1-img{
    display: flex;
    float: right;
    width: 250px;
    height: 250px;
    margin-right: 5px;
    padding: 5px;
    background-color: #ffd000;  
    border-radius: 10px;
}

.pisa-img:hover {
    background-color: #6a010f;
    transition-duration: 0.4s;
    padding: 2px;
}

.article2{
    color: #fff;
    background-color: #2d8f2f;
    padding: 5px 0px 0px 10px;
    border: 10px solid #77dd77 ;
    border-radius: 5px;
}

.Titulo-art-2{
    background-color: #77dd77;
    color: #fff;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 20px;
}

.escuela-img{
    display: flex;
    float: right;
    width: 250px;
    height: 250px;
    margin-right: 5px;
    padding: 5px;
    background-color: #77dd77;  
    border-radius: 10px;
}

.escuela-img:hover {
    background-color: #2d8f2f;
    transition-duration: 0.5s;
    padding: 2px;
}

aside{

    text-align: left ;
    float: right;
    border: 8px solid #fdfd96;
    border-radius: 8px;
    width: 18%;
    padding-bottom: 200px ;
    padding-top: 10px;
    padding: 4px 0px 0px 0px ;
}

aside h4 {
    text-align: center;
}

aside h5 {
    text-align: center;
}

footer {
    height: 30px;
    padding: 25px;
    clear: both;
    background: #336ca5;
    text-align: center;
    color: antiquewhite;
    margin-bottom: 15px;
    margin-top: 20px;
}


