body {
    font-family: monospace;
    color: #333;
    font-size: 1.3rem;
}

h1 {
    /*
    background-color: rgb(233, 205, 23);
    color: white;
    padding: 20px;
    */
    text-align: left;
    line-height: 1.3em;
    font-size: 2rem;

}

p{
    margin-bottom: 1.6em;
}

.container {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
}
.container h1{
    background-color: #68c3f4;
    color: white;
    border-radius: 2rem;
    padding: 0.6rem;
}

.container h2{
    background-color: #4a81f8;
    color: white;
    border-radius: 2rem;
    padding: 0.6rem;
}

.container h3{
    background-color: rgb(62, 148, 194);
    color: white;
    border-radius: 2rem;
    padding: 0.6rem;
}

.header {
    background: #0c9ec6;
    color: azure;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
    .header a {
        color: #ffffff;
        text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-img {
    width: 15.2rem;
    height: 4.2rem;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            border-radius: 15px;
            
        }

        .navigation a:hover{
            background-color: #0b72e0;
            padding: auto;
            transition: all 0.4s linear;
}

.logo {
    letter-spacing: 5px;
    font-size: 1.3rem;
}
.logo img{
    height: 6rem;
    width: 14.5rem;  
}

.menu-ico{
    display: block;
}

.logo:hover {
    background-color: #0b72e0;
    padding: 0.5rem;
    border-radius: 80px;
    transition: all 0.5s linear;
}

.main {
    padding-top: 10rem;
}

.baner-img {
    align-self: center;
    width: 50rem;
    height: 25rem;
    background: #0c9ec6;
    border-radius: 2rem;
    border: #0b72e0 solid 1rem;
    padding: 1rem;
}

.footer {
    background: #e4e3e3;
    padding: 2rem 0;
    text-align: center;
    margin-top: 6rem;
}

@media only screen and (max-width: 767px) {
    .menu-ico{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul {
        display: none;
    }

    .navigation ul.show {
        display: block;
    }
    .menu-ico:hover {
        background: #ababab;
        padding: auto;
        border-radius: 20px;
    }

    .navigation ul li {
            display: block;
        }
            .navigation ul li a {
                display: block;
                padding: 0.5rem 1rem;
                border-radius: 15px;
            }
    
            .navigation a:hover{
                background-color: #ccc;
                padding: auto;
                transition: all 0.4s linear;
    }
}

.menu-ico-ocultar {
    color: #fbfbfb00;
    text-align: left;
}



